[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
jsonify = "*"
google-cloud-bigquery = "*"
flasgger = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-marshmallow = "*"
python-dotenv = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]
google-cloud-storage = "*"
autopep8 = "*"

[requires]
python_version = "3.7"

[scripts]
startuplocal = "export IS_LOCAL_DEV=True & python src/main.py"
